section.about
    .about__col.about__col_bg__white
        .about__title
            h2.title Обо мне
        .about__content
            .user-desc
                .user-desc__pic
                    img.user-desc__pic-img(src="./assets/images/content/user-full.jpg",alt="user")
                .user-desc__info
                    h3.user-desc__title
                        .subtitle Кто я
                    .user-desc__text
                        p Я веб разработчик с дальнего востока. Мне 24 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__col.about__col_bg__beige
        .about__right-title
          .subtitle Чем я могу быть полезен
        .about__small-desc
          .p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__info-container
            #skills-component