section.map
        .map__yandex
          img(src="./assets/images/bg/map.png", alt="").map__pic
          .yamap
        .map__contacts
          .user_data
            .user_data__title
              .subtitle Контакты
            .user_data__container
              ul.user_data__contacts-list
                  li.user_data__contacts-item
                    .contacts
                      svg.contacts__icon
                        use(xlink:href='./assets/images/icons/sprite.svg#skype')
                      a(href="skype:live:darksourcemarshal").contacts__title live:darksourcemarshal
                  li.user_data__contacts-item
                    .contacts
                      svg.contacts__icon
                        use(xlink:href='./assets/images/icons/sprite.svg#envelope')
                      a(href="mailto:alexandervarnaev@gmail.com").contacts__title darksourcemarshal@mail.ru
                  li.user_data__contacts-item
                    .contacts
                      svg.contacts__icon
                        use(xlink:href='./assets/images/icons/sprite.svg#phone')
                      a(href="tel:+79999999999").contacts__title +9 999 999 99 99
                  li.user_data__contacts-item
                    .contacts
                      svg.contacts__icon
                        use(xlink:href='./assets/images/icons/sprite.svg#map_marker')
                      a(href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.299429%2C60.001523&z=16&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D30.299437%252C60.001526%26spn%3D0.001000%252C0.001000%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A1%25D0%25B0%25D0%25BD%25D0%25BA%25D1%2582-%25D0%259F%25D0%25B5%25D1%2582%25D0%25B5%25D1%2580%25D0%25B1%25D1%2583%25D1%2580%25D0%25B3%252C%2520%25D0%259A%25D0%25BE%25D0%25BB%25D0%25BE%25D0%25BC%25D1%258F%25D0%25B6%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%25BF%25D1%2580%25D0%25BE%25D1%2581%25D0%25BF%25D0%25B5%25D0%25BA%25D1%2582%252C%252015%25D0%25BA2%2520").contacts__title г. Владивосток