.user_data{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($white, 0.95);
    border-radius: 5px;
}
.user_data__title{
    margin-bottom: 40px;
}
.user_data__contacts-item{
    margin-bottom: 20px;
}