footer.footer
  .footer__row
    .footer__col
      nav.menu
        ul.menu__list
          each item in [['works.html','Мои работы'], ['about.html','Обо мне'], ['blog.html','Блог'], ['index.html?auth','Авторизация']]
            li.menu__item
              a.menu__link(href=`${item[0]}`) #{item[1]}
    .footer__col.footer__col_justyfy_right
      .footer__socials
        include ../socials/socials
        +socials('footer', '--rounded')
  .footer__row
    .footer__col
      .copyright.copyright_margin_left 
        p Я веб-разработчик с Дальнего Востока, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__col.footer__col_justyfy_right
      .copyright.copyright_align_right
        p &copy; Владислав Маршал | создано с любовью и кровью в LoftSchool | 2018
