.footer {
    background-color: rgb($grey);
    opacity: 0.95;
}
.footer__row{
    display: flex;
    align-items: center;
    height: 75px;
    &:first-child{
        border: 1px solid rgba($light-grey, 0.3);
    }
    @include tablets {
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }
    @include phones {
        align-items: center;
    }
}
.footer__col{
    flex: 1;
    display: flex;
    @include tablets {
        align-items: center;
        justify-content: center;
    }
    @include phones {
        align-items: center;
    }
}
.footer__col_justyfy_right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include tablets{
        align-items: center;
    }
    @include phones {
        align-items: center;
    }
}
.footer__socials{
    margin-right: 30px;
    @include tablets {
        margin: initial;
    }
}